@{
    ViewBag.Title = "Contact";
}

<style>
    .form-control {
        background-color: rgba(0, 0, 0, 0.40);
        height: auto;
    }

    .label {
        color: rgba(255, 255, 255, 0.59);
        font-size: medium;
    }

    body {
        background-image: url("/../Images/contact.jpg");
        background-repeat: no-repeat;
        background-size: 50vw;
        background-position: center top;
    }

    address {
        color: ghostwhite;
        font-family: 'Tahoma';
    }

    div.contact-info {
        background-color: rgba(0, 0, 0, 0.40);
    }
</style>

<h2 class="page-header" align="center" style="color:black;">Contact</h2>
<body class="contact-info">

    <div class="form-group form-control" align="center">
        <address>
            AshBee Fotografia<br />
            Shelbina, MO 63468<br />
            <abbr title="Phone">(573)795-1969</abbr>
        </address>
        <address>
            <img src="~/Images/fb_button.jpg" />   <a href="https://www.facebook.com/AshBee-Fotografia-815934808477381/">Facebook.com/AshBee-Fotografia</a><br />
        </address>
    </div>
</body>
