@{
    ViewBag.Title = "Home Page";
}
<style>
    body, html {
        height: auto;
    }

    div.image1 {
        background-image: url("../Images/banner1.jpg");
        height: 600px;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
    }

    div.image2 {
        background-image: url("../Images/banner2.jpg");
        height: 600px;
        width: 100%; /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
    }

    div.image3 {
        background-image: url("../Images/banner3.jpg");
        height: 600px;
        width: 100%; /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
    }

    div.image4 {
        background-image: url("../Images/banner4.jpg");
        height: 600px;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
    }

    div.site-body {
        background-image:url("../Images/film-strip.jpg");
        background-size:contain;
        font-family: 'AR BERKLEY';
        font-size: 24px;
        text-align:center;
        line-height:75px;
        height: 90px;
        color:ghostwhite;
        position: relative;
        margin: auto;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
    }
</style>

<div class="image1"></div>
<div class="site-body">
    <i> "Eyes like a shutter, mind like a lens."</i>
</div>

<div class="image2"></div>
<div class="site-body">
    Capturing all of your beautiful moments.
</div>

<div class="image3"></div>
<div class="site-body">
    A fun, classic, creative, & friendly photographer.
</div>

<div class="image4"></div>
<div class="site-body">
    Professional quality at competitive prices.
</div>
